plugin/CMakeCache.txt
plugin/CMakeFiles/*
plugin/cmake_install.cmake
plugin/libs/Release/libRoViPlugin.so
plugin/Makefile
plugin/qrc_resources.cpp
plugin/ui_SamplePlugin.h
plugin/src/moc_SamplePlugin.cpp
plugin/src/moc_SamplePlugin.cpp_parameters
plugin/src/resources.qrc.depends
plugin/src/resources.qrc
